<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User List</title>
   <style>
        table{
            border-collapse: collapse;
            width: 100%;
        }
        td,th{
            border: 1px solid black;
            padding: 8px;
        }
    </style>
</head>
<body>
    <center>Suvarna Srayshi Sinha || 24DEV082</center>
    <H3>SORTING OF STUDENTS</H3>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>First Name</a></th>
                <th>Last Name</th>
                <th>City</th>
                <th>Country</th>
                <th>degree</th>
                <th>college</th>
                <th>department</th>
                <th>parentname</th>
                <th>gender</th>
               </tr>
            </thead>
                <tbody> 
                    <div>
                        <%- include('./sortidnamepage',{p,sortorder,sortcolumn}); %>
                    </div>
                    <form method="post">
               <% for(let i = 0; i < result.length; i++ ) { %>
                    <tr>
                        <td><%= result[i].studentid %></td>
                        <td><%= result[i].firstname %></td>
                        <td><%= result[i].lastname %></td>
                        <td><%= result[i].city %></td>
                        <td><%= result[i].country %></td>
                        <td><%= result[i].degree %></td>
                        <td><%= result[i].college %></td>
                        <td><%= result[i].department %></td>
                        <td><%= result[i].parentname %></td>
                        <td><%= result[i].gender %></td>
                    </tr>
              <%  } %>
            </form> 
            </tbody> 
    </table>
</body>
</html>