<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="/javascript/updateformajax.js"></script>  
    <title>Update List</title>
    <style>
        table {
            border-collapse: collapse;
            width: 40%;
            margin-left: auto;
            margin-right: auto;

        }

        p {
            font-size: 11px;
            color: rgb(234, 49, 49);
        }

        .table1 {
            border: 2px;
        }

        .button {

            padding: 6px 12px;
            margin: 5px;
            border: 1px solid #ccc;
            background-color: #676262;
            cursor: pointer;
        }

        .container {
            padding-left: 92%;
        }

        .prev {
            float: left;
            margin-top: 10px;
            background-color: #1f6a4f;
            border: none;
            color: white;
            padding: 10px 17px;
            text-align: center;
            border-radius: 5px;
        }
        .save{
            background-color: #1f6a4f;
            border: none;
            color: white;
            padding: 10px 17px;
            text-align: center;
            border-radius: 5px;
            float: right;
        }
        .next {
            float: right;
            margin-top: 10px;
            background-color: #1f6a4f;
            border: none;
            color: white;
            padding: 10px 17px;
            text-align: center;
            border-radius: 5px;
        }


        .container {
            padding-left: 92%;
        }

      .hidden{
        display: none;
      }
      .visible{
        display: block;
      }
    </style>
</head>

<body>
    <center>Suvarna Srayshi Sinha || 24DEV082</center>
    <h3>USER FORM</h3>
    <div class="table1">
        <form action="/detailajax/<%=result.id%>/update" method="post" name="form" onsubmit="return validate()">
            <div class="basicdetail tab visible">
            <fieldset>
                <legend> BASIC DETAILS</legend>
                <table style="width: 90%;">
                    <tr>
                        <td> <label for="fname">First name:</label>
                            <input type="text" id="fname" name="fname" value="<%=result.firstname%>">
                            
                            <p id=fnamein></p>
                        <td> <label for="lname">Last name:</label>
                            <input type="text" id="lname" name="lname" value="<%=result.lastname%>">
                            <p id=lnamein></p>
                        </td>

                    </tr>
                    <tr>
                        <td>
                            <label for="designation">Designation:</label>
                            <input type="text" id="designation" name="designation" value="<%=result.designation%>">
                            <p id=designationin></p>
                        </td>
                        <td><label for="Address1">Address1:</label>
                            <input type="text" id="address" name="address" value="<%=result.address_1%>">
                            <p id=addressin></p>
                        </td>
                    </tr>

                    <tr>
                        <td><label for="email">Email:</label>
                            <input type="text" name="email" id="email" value="<%=result.email%>">
                            <p id=emailin></p>
                        </td>
                        <td><label for="Address2">Address2:</label>
                            <input type="text" id="address2" name="address2" value="<%=result.address2%>">
                            <p id=addressin2></p>
                        </td>
                    </tr>


                    <tr>
                        <td> <label for="phonenumber">Phone number:</label>
                            <input type="text" name="phone" id="phone" value="<%=result.phone_number%>" >
                            <p id=phonein></p>
                        </td>

                        <td><label for="City">City:</label>
                            <input type="text" id="city" name="city" value="<%=result.city%>">
                            <p id=cityin></p>
                        </td>
                    </tr>

                    <tr>

                        <td><label for="gender">Gender</label>
                            <input type="radio" name="gender" id="male" value="male"<%=result.gender==='male'? 'checked':''%>>Male
                            <input type="radio" name="gender" id="female" value="female"<%=result.gender==='female'? 'checked':''%>>Female<p id=genderin></p>
                        </td>
                        <td><label for="state">State</label>
                            <select id="state" name="state" >
                                <option name="Gujarat" value="gujarat"<%=result.state==='gujarat'? 'selected':''%>>Gujarat</option>
                                <option name="Delhi" value="delhi"<%=result.state==='delhi'? 'selected':''%>>Delhi</option>
                                <option name="maharastra" value="maharastra"<%=result.state==='maharastra'? 'selected':''%>>maharastra</option>
                                <option name="assam" value="assam"<%=result.state==='assam'? 'selected':''%>>assam</option>
                            </select><br>
                            <br>
                        </td>
                    </tr>

                    <tr>
                        <td> <label for="relationship">Relationship Status</label>
                            <select id="relationship" name="relationship">
                                <option name="single" value="single"<%=result.relationship==='single'? 'selected':''%>>single</option>
                                <option name="married" value="married"<%=result.relationship==='married'? 'selected':''%>>married</option>
                            </select>
                        </td>
                        <td><label for="zip code">Zip code:</label>
                            <input type="text" id="zipcode" name="zipcode" value="<%=result.zipcode%>">
                            <p id=zipcodein></p><br>
                            <br>
                        </td>
                    </tr>

                    <tr>
                        <td><label for="dob">Date Of Birth</label>
                            <input type="date" id="dob" name="dob" value="<%=result.dateofbirth%>">
                            <p id=dobin></p>
                        </td>
                    </tr>
                </table>
            </fieldset>
         </div>
            <div class="educationdetail tab hidden">
                <fieldset>
                    <legend> EDUCATION</legend>

                    <div class="container">
                        <input type="button" class="button" id="plusbtn" value="+" onclick="eduplus()">
                        <input type="button" class="button" id="minusbtn" value="-" onclick="edusub()">
                    </div>
                    <div class="row2">
                        <%for(let i=0 ; i<result1.length ; i++){%>
                        <div>
                            <td>
                                <select id="education" name="education[]" >
                                    <option value="SSC" name="SSC">SSC</option>
                                    <option value="HSC" name="HSC">HSC</option>
                                    <option value="Bachelors" name="Bachelors">Bachelors</option>
                                    <option value="Masters" name="Masters">Masters</option>
                                    <option value="PHD" name="PHD">PHD</option>

                                </select>
                            </td>
                            <label for="board">Name of the Board</label>
                            <input type="text" id="board" name="board[]" placeholder="enter board here" value="<%=result1[i].coursename%>">
                            <label for="passingyear">Passing Year</label>
                            <input type="date" id="passingyear" name="passingyear[]"
                                placeholder="enter passingyear here" value="<%=result1[i].passingyear%>">
                                <!-- <input type="text" id="dob" name="dob" value="<%=result.dateofbirth%>"> -->
                            <label for="percentage">Percentage:</label>
                            <input type="text" id="percentage" name="percentage[]" placeholder="enter percentage here" value="<%=result1[i].percentage%>">
                            <br>
                            <hr>
                        </div>
                        <%}%>
                    </div>
                </fieldset>
            </div>
         
            <div class="experience tab hidden">
                <fieldset>
                    <legend>WORK EXPERIENCE</legend>
                    <div class="container">
                        <input type="button" class="button" id="plusbtn" value="+" onclick="explus()">
                        <input type="button" class="button" id="minusbtn" value="-" onclick="exsub()">
                    </div>
                    <div class="row1">
                        <%for(let i=0 ; i<result2.length ; i++){%>
                        <div>
                            <label for="Company Name">Company Name</label>
                            <input type="text" id="CompanyName" name="CompanyName[]" value="<%=result2[i].Company_name%>">
                            <label for="designation">Designation:</label>
                            <input type="text" id="designation1" name="designation1[]" value="<%=result2[i].Designation%>">
                            <label for="From">From</label>
                            <input type="text" id="From1" name="From1[]"  value="<%=result2[i].from_d%>">
                            <label for="To">To</label>
                            <input type="text" id="To1" name="To1[]" value="<%=result2[i].to_d%>">
                            <br> <br>
                        </div>

                        <%}%>
                    </div>

                </fieldset>
            </div>




            <table style="width:100%">
                <tr>
                    <td>
                        <div class="language tab hidden">
                            <fieldset>
                                <legend>LANGUAGE KNOWN</legend>
                            <table style="width:90%">
                                <tr>
                                    <td><input type="hidden" name="lang[]" value="<%=hindi.length!=0 && hindi[0].id%>"></td>
                                    <td>
                                        <input type="checkbox" id="hindi" name="hindi" <%=hindi.length!=0 && hindi[0].optionid===5? 'checked':''%>><label
                                            for="hindi">HINDI</label>
                                    </td>
                                    <td>

                                        <input type="checkbox" id="hindi_r" name="hindi_r" <%=hindi[0].reade==='1'? 'checked':''%>>
                                        <label for="hindi_r">READ</label>
                                    </td>
                                    <td>
                                        <input type="checkbox" id="hindi_w" name="hindi_w" <%=hindi[0].writee==='1'? 'checked':''%>>
                                        <label for="hindi_w">WRITE</label>
                                    </td>
                                    <td>
                                        <input type="checkbox" id="hindi_s" name="hindi_s" <%=hindi[0].speak==='1'? 'checked':''%>>
                                        <label for="hindi_s">SPEAK</label>
                                    </td>
                                </tr>

                                <tr>
                                    <td><input type="hidden" name="lang[]" value="<%=english.length!=0 && english[0].id%>"></td>
                                    <td>
                                        <input type="checkbox" id="english" name="english" <%=english.length!=0 && english[0].optionid===6? 'checked':''%>><label
                                            for="english">ENGLISH</label>
                                    </td>
                                    <td>
                                        <input type="checkbox" id="english_r" name="english_r" <%=english[0].reade==='1'? 'checked':''%>>
                                        <label for="english_r">READ</label>
                                    </td>
                                    <td>
                                        <input type="checkbox" id="english_w" name="english_w" <%=english[0].writee==='1'? 'checked':''%>>
                                        <label for="english_w">WRITE</label>
                                    </td>
                                    <td>
                                        <input type="checkbox" id="english_s" name="english_s" <%=english[0].speak==='1'? 'checked':''%>>
                                        <label for="english_s">SPEAK</label>
                                    </td>
                                </tr>

                                <tr>

                                    <td><input type="hidden" name="lang[]" value="<%=gujarati.length!=0 && gujarati[0].id%>"></td>
                                    <td>
                                        <input type="checkbox" id="gujarati" name="gujarati" <%=gujarati.length!=0 && gujarati[0].optionid===7? 'checked':''%>><label
                                            for="gujarati">GUJARATI</label>
                                    </td>
                                    <td>
                                        <input type="checkbox" id="gujarati_r" name="gujarati_r" <%=gujarati[0].reade==='1'? 'checked':''%>>
                                        <label for="gujarati_r">READ</label>
                                    </td>
                                    <td>
                                        <input type="checkbox" id="gujarati_w" name="gujarati_w" <%=gujarati[0].writee==='1'? 'checked':''%>>
                                        <label for="gujarati_w">WRITE</label>
                                    </td>
                                    <td>
                                        <input type="checkbox" id="gujarati_s" name="gujarati_s" <%=gujarati[0].speak==='1'? 'checked':''%>>
                                        <label for="gujarati_s">SPEAK</label>
                                    </td>
                                </tr>
                            </table>
                        </fieldset>
                        </div>
                    </td>

                    <td>
                        <div class="language tab hidden">
                        <fieldset>
                            <legend>TECHNOLOGY YOU KNOW</legend>
                            <table style="width:90%">
                                <tr>
                                    <td><input type="hidden" name="tech[]" value="<%=php.length!=0 && php[0].id%>"></td>
                                    <td>
                                        <input type="checkbox" id="php" name="php" value="php"<%=php.length!=0 && php[0].technology==8? 'checked':''%>><label
                                            for="php">PHP</label>
                                    </td>
                                    <td>
                                        <input type="radio" name="tphp" id="begineer" value="begineer"<%=php[0].tech_level===12? 'checked':''%>><label
                                            for="mediator">BEGINEER</label>

                                    </td>
                                    <td>
                                        <input type="radio" name="tphp" id="mediator" value="mediator"<%=php[0].tech_level===13? 'checked':''%>><label
                                            for="mediator">MEDIATOR</label>

                                    </td>
                                    <td>
                                        <input type="radio" name="tphp" id="expert" value="expert"<%=php[0].tech_level===14? 'checked':''%>><label
                                            for="expert">EXPERT</label>

                                    </td>
                                </tr>

                                <tr>
                                    <td><input type="hidden" name="tech[]" value="<%=oracle.length!=0 && oracle[0].id%>"></td>
                                    <td>
                                        <input type="checkbox" id="oracle" name="oracle" value="oracle"<%=oracle.length!=0 && oracle[0].technology==10? 'checked':''%>><label
                                            for="oracle">ORACLE</label>
                                    </td>
                                    <td>
                                        <input type="radio" name="toracle" id="begineer" value="begineer"<%=oracle[0].tech_level===12? 'checked':''%>><label
                                            for="mediator">BEGINEER</label>

                                    </td>
                                    <td>
                                        <input type="radio" name="toracle" id="mediator" value="mediator"<%=oracle[0].tech_level===13? 'checked':''%>><label
                                            for="mediator">MEDIATOR</label>

                                    </td>
                                    <td>
                                        <input type="radio" name="toracle" id="expert" value="expert"<%=oracle[0].tech_level===14? 'checked':''%>><label
                                            for="expert">EXPERT</label>

                                    </td>
                                </tr>

                                <tr>
                                    <td><input type="hidden" name="tech[]" value="<%=mysql.length!=0 && mysql[0].id%>"></td>
                                    <td>
                                        <input type="checkbox" id="mysql" name="mysql" value="mysql"<%=mysql.length!=0 && mysql[0].technology==11? 'checked':''%>><label
                                            for="mysql">MYSQL</label>
                                    </td>
                                    <td>
                                        <input type="radio" name="tmysql" id="begineer" value="begineer"<%=mysql[0].tech_level===12? 'checked':''%>><label
                                            for="mediator">BEGINEER</label>

                                    </td>
                                    <td>
                                        <input type="radio" name="tmysql" id="mediator" value="mediator"<%=mysql[0].tech_level===13? 'checked':''%>><label
                                            for="mediator">MEDIATOR</label>

                                    </td>
                                    <td>
                                        <input type="radio" name="tmysql" id="expert" value="expert"<%=mysql[0].tech_level===14? 'checked':''%>><label
                                            for="expert">EXPERT</label>

                                    </td>
                                </tr>
                                <tr>
                                    <td><input type="hidden" name="tech[]" value="<%=laravel.length!=0 && laravel[0].id%>"></td>
                                    <td>
                                        <input type="checkbox" id="laravel" name="laravel" value="laravel"<%=laravel.length!=0 && laravel[0].technology==9? 'checked':''%>><label
                                            for="laravel">LARAVEL</label>
                                    </td>
                                    <td>
                                        <input type="radio" name="tlaravel" id="begineer" value="begineer"<%=laravel[0].tech_level===12? 'checked':''%>><label
                                            for="mediator">BEGINEER</label>

                                    </td>
                                    <td>
                                        <input type="radio" name="tlaravel" id="mediator" value="mediator"<%=laravel[0].tech_level===13? 'checked':''%>><label
                                            for="mediator">MEDIATOR</label>

                                    </td>
                                    <td>
                                        <input type="radio" name="tlaravel" id="expert" value="expert"<%=laravel[0].tech_level===14? 'checked':''%>><label
                                            for="expert">EXPERT</label>

                                    </td>
                                </tr>
                            </table>
                        </fieldset>
                        </div>
                    </td>
                </tr>
            </table>
            <div class="referance tab hidden">
                <fieldset>
                    <legend>REFRENCE CONTACT</legend>
                    <div class="container">
                        <input type="button" class="button" id="plusbtn" value="+" onclick="plus()">
                        <input type="button" class="button" id="minusbtn" value="-" onclick="sub()">
                    </div>
                    <div class="row">
                        <%for(let i=0 ; i<result3.length ; i++){%>
                        <div>
                                <label for="Name">Name</label>
                                <input type="text" id="nameref" name="nameref[]" value="<%=result3[i].refrencename%>">
                                <label for="Contact number">Contact number:</label>
                                <input type="text" id="Contactnumber" name="Contactnumber[]" value="<%=result3[i].contact%>">
                                <label for="Relation">Relation</label>
                                <input type="text" id="Relation" name="Relation[]" value="<%=result3[i].relation%>"><br>
                            </div>
                            <%}%>

                    </div>

            </div>
            </fieldset>
            <div class="preferance tab hidden">
            <fieldset style=" margin:0;">
                <legend>PREFERANCES</legend>
                <table style="width:90%">
                    <tr>
                        <td>
                            <label for="location">Preferd location</label>
                            <select id="location" name="location">
                                <option name="Gujarat" value="Gujarat"<%=result4.preferd_location==='Gujarat'? 'selected':''%>>Gujarat</option>
                                <option name="Delhi" value="Delhi"<%=result4.preferd_location==='Delhi'? 'selected':''%>>Delhi</option>
                            </select>
                        </td>
                        <td><label for="notice">NOTICE</label>
                            <input type="text" id="notice" name="notice" value="<%=result4.notice_period%>">
                        </td>
                        <td>
                            <label for="department">Department</label>
                            <select id="department" name="department">
                                <option name="Development" value="development"<%=result4.Department==='development'? 'selected':''%>>Development</option>
                                <option name="Design marketing" value="Design marketing"<%=result4.Department==='Design marketing'? 'selected':''%>>Design marketing</option>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><label for="expactedCTC">Expacted CTC</label>
                            <input type="text" id="expactedCTC" name="expactedCTC" value="<%=result4.ExpactedCTC%>">
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><label for="currentCTC">Current CTC</label>
                            <input type="text" id="currentCTC" name="currentCTC" value="<%=result4.currentctc%>">
                        </td>

                    </tr>

                </table>
            </fieldset>
</div>
<input type="submit" value="Save" class="save" id="save" onclick="submitdata()" style="display: none;">
<input type="button" value="pervious" class="prev" id="prevbutton" onclick="prev()" style="display: none;"/>
<input type="button" value="next" class="next" id="nextbutton" onclick="next()" />
        </form>
    </div>
   

</body>

</html>