<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>

<body>
    <style>
        .container {
            display: flex;
            float: right;
        }

        .container i {
            padding: 10px;
            margin: 5px;
            cursor: pointer;
            /* border: 2px solid rgb(246, 238, 212);
            background-color: rgb(238, 190, 204); */
        }

        .page {
            padding: 10px;
            margin: 5px;

        }
    </style>
    <form action="/attendance?page=1" method="get">

        <%if(m=='december2023'){%>
            <select name="month" id="month">
                <option value="december2023" selected>december</option>
                <option value="january2024">january</option>
                <option value="february2024">february</option>
            </select>
            <%}%>

                <%if(m=='january2024'){%>
                    <select name="month" id="month">
                        <option value="december2023">december</option>
                        <option value="january2024" selected>january</option>
                        <option value="february2024">february</option>
                    </select>
                    <%}%>

                        <%if(m=='february2024'){%>
                            <select name="month" id="month">
                                <option value="december2023">december</option>
                                <option value="january2024">january</option>
                                <option value="february2024" selected>february</option>
                            </select>
                            <%}%>

                                <input type="submit" value="view">
    </form>
    <div class="container">
        <%if(Number(p)!=1){ %>
            <a href="/attendance?page=1&month=<%=m%>" <%if(Number(p)==1){%>onclick='return false;'}<%}%> >
                    <i class="fa-solid fa-angles-left"></i></a>
            <a href="/attendance?page=<%=Number(p)-1 %>&month=<%=m%>" <%if(Number(p)==1){%>onclick='return false;'}<%}%>
                    >
                    <i class="fa-solid fa-angle-left"></i></a>
            <%}%>
                <div class="page">
                    <%=p%>
                </div>
                <%if(Number(p)!=last){ %>
                    <a href="/attendance?page=<%=Number(p)+1 %>&month=<%=m%>" <%if(Number(p)==last){%>onclick='return
                        false;'}<%}%>>
                            <i class="fa-solid fa-angle-right"></i></a>
                    <a href="/attendance?page=<%=last%>&month=<%=m%>" <%if(Number(p)==last){%>onclick='return false;'}
                        <%}%> >
                            <i class="fa-solid fa-angles-right"></i></a>
                    <%}%>
    </div>
</body>

</html>